* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bgc;
    font-size: 16px;
}

span, p, h1, h2, h3, h4, h5, h6, b {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: $text;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: $text;
}

input, button {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: transparent;
    color: $text;
}

select {
    font-size: 1rem;
    font-weight: normal;
    background-color: $bgc;
    border-color: $primary;
    color: $text;
}